@charset "utf-8";
/* CSS Document */

.pl19{
    padding-left: 19px;
}
.grey{
    color: #787878;
}
.mt40{
    margin-top: 40px;
}
.mt38{
    margin-top: 38px;
}
.mt41{
    margin-top: 41px;
}


.mb18{
    margin-bottom: 18px;
}
.mb_33{
    margin-bottom: 33px;
}
.mb_40{
    margin-bottom: 40px;
}
.mr64{
    margin-right: 64px;
}